    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-md-offset-0">
                        <h1 class="brand-heading">Workshop on <br/><span class="emphasis">Synthetic Cognitive Development</span> and <br/><span class="emphasis">Integrated-Distributed Agency</span> (IDA)</h1>
                        <p class="sub-heading">@ The Eighth Conference on Artificial General Intelligence<br/>Berlin, July 22-15 2015</p>
                        <table class="center">
                            <tr>
                                <th class="bottom"><img src="img/pholosopher_ai_over_gnomes-small.png" alt="" height="450"/></th>
                            </tr>
                        </table>
                        <p class="intro-text"><span class="emphasis">Questions, comments, discussion...</span></p>
                        <a href="#discussion" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </header>