    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                    <table class="front_page center">
                        <tr>
                            <th class="tg-031e center">
                                    <h1 class="brand-heading"><a href="http://agi-conf.org/2015/workshops/workshop-on-distributed-agency/"><span class="emphasis">Workshop on <br/></span>Synthetic Cognitive Development and <br/>Integrated-Distributed Agency<span class="emphasis"> (IDA)</span></a></h1>
                                    <p class="sub-heading">@ <a href="http://agi-conf.org/2015/">The Eighth Conference on Artificial General Intelligence</a><br/>Berlin, July 22-15 2015</p>
                            </th>
                        </tr>
                        <tr>
                            <td class="tg-031e center">
                                <img id="workshop_logo" src="img/pholosopher_ai_over_gnomes-small.png" alt=""/>
                            </td>
                        </tr>
                        <tr>
                            <td class="tg-031e center">
                                    <p class="pointer"><span class="emphasis">Schedule</span></p>
                                    <a href="#schedule" class="btn btn-circle page-scroll">
                                        <i class="fa fa-angle-double-down animated"></i>
                                    </a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
    </header>