    <!-- About Section -->
    <section id="schedule" class="container content-section text-center page">
        <table class="schedule center">
            <tr>
                <td class="tg-031e center">
                    <ul>
                        <li class="list"><em>Keynote:</em> <strong>Open-ended Intelligence: The Individuation of Intelligent Agents, </strong></a><br/>by Weaver (David Weinbaum);<br/> download: <a href="http://arxiv.org/abs/1411.0159" target="_blank" >article</a> / <a href="{{ site.baseurl }}/files/oei_presentation_weaver.pdf">presentation</a>)</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tg-031e center">
                    <ul>    
                        <li class="list"><strong>Offer Networks: Using AI and Optimization Algorithms to Pioneer a Post-Money Economy,</strong> <br/>by <a href="http://wp.goertzel.org/about-ben-goertzel/" target="_blank"> Ben Goertzel</a>;</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tg-031e center">
                    <ul>
                        <li class="list"><strong>Scalable cognition through collaborative sense-making: drafting the Open Value Network model</strong>, <br/>by <a href="http://www.xmunch.net/" target="_blank">Diego González Rodríguez</a> and <a href="https://www.linkedin.com/in/poietic" target="_blank">Ishan Shapiro</a>;</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tg-031e center">
                    <ul>
                        <li class="list"><em><strong>Discussion!</strong></em></li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td class="tg-031e center">
                    <p class="pointer"><span class="emphasis">Questions, answers, comments</span></p>
                    <a href="#discussion" class="btn btn-circle page-scroll">
                           <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </td>
            </tr>
        </table>
    </section>
